body {
    overflow-x: hidden;
}

header {
    background-color: #1a1a1a;
}

.img-block {
    display: block;
}

.fam {
    background-color:#1a1a1a;
    position: fixed;
    top: 0px;
}

.fam-stretch {
    background-color:#1a1a1a;
    position: fixed;
    top: 0px;
}

/*
    (xs) Extra small (portrait phones, less than 576px)
    No media query since this is the default in bootstrap
    
    (sm) Small (landscape phones, 576px and up)
    @media (min-width: 576px) {...}

    (md) Medium (tablets, 768px and up)
    @media (min-width: 768px) {...}

    (lg) large (desktops, 992px and up)
    @media (min-width: 992px) {...}

    (xl) Extra large (large desktops, 1200px and up)
    @media (min-width: 1200px) {..}
 */